@font-face {
  font-family: 'GothamPro';
  src: url('GothamPro.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('GothamProMedium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'GothamPro';
  src: url('GothamProBold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}
