.reports-last {
}

.reports-last_title {
  margin: 0 0 42px;
}

.reports-last {
  .report-preview_content {
    max-width: 420px;
  }

  .report-preview_date {
    margin-left: 17px;
    margin-right: 3px;
  }
}
