.more-news {
  margin: 40px 0;

  .h2-real {
    margin: 0 0 40px;
  }

  .rambler_item img {
    display: block;
    height: auto;
    width: 140px;
  }

  .rambler_item a.rambler_img {
    display: block;
    width: 140px;
    height: 140px;
    overflow: hidden;
    float: left;
    border-radius: 4px;
    margin-bottom: 15px;
  }

  .rambler_item {
    float: left;
    overflow: hidden;
    width: 140px;
    display: block;
    position: relative;

    &:hover a {
      color: #2d8ed6;
    }
  }

  .rambler_item a.rambler_title {
    display: block;
    font-size: 15px;
    line-height: 21px;
    text-decoration: none;
    font-weight: 500;
  }

}